__pycache__
docs/_build/
docs/source/
docs/quants*custom.rst
.pdf
.pyc
.so
.ipynb_checkpoints
.startup.py
illustris_website
illustris_python
illustris_idl
misc
tenet.egg-info
tenet/util/*.so
.DS_Store
._.DS_Store
