# python 3.8.0
astropy
cmocean
corner
emcee
fsps
h5py
healpy
llvmlite
matplotlib
numba
numpy
psutil
#pyslurm
requests
requests-oauthlib
scipy
astro-sedpy
astro-prospector
reproject
scikit-image
illustris_python @ git+https://github.com/cbyrohl/illustris_python@master
