# python 3.12.x
astropy
cmocean
corner
emcee
fsps
h5py
healpy
llvmlite
matplotlib
numba
numpy
psutil
#pyslurm
requests
requests-oauthlib
scipy
astro-sedpy
astro-prospector
reproject
scikit-image
illustris_python @ git+https://github.com/illustristng/illustris_python@master
torch
torchvision
tensorboard
sbi
#buildbot
#sphinx, breathe, exhale
